# Movies Data Analysis

In [1]:
#importing important libraries
import pandas as pd

In [2]:
#loading datas
movie = pd.read_csv('C:/Users/tusht/Desktop/Prwatech/Project/movie.csv')

# Understanding and Wrangling Data

In [3]:
#making copy of csv file 
movies = movie.copy()

In [4]:
movies.head(5)

   1 The Nightmare Before Christmas  1993  3.9    4568
0  2                      The Mummy  1932  3.5  4388.0
1  3           Orphans of the Storm  1921  3.2  9062.0
2  4           The Object of Beauty  1991  2.8  6150.0
3  5                     Night Tide  1963  2.8  5126.0
4  6            One Magic Christmas  1985  3.8  5333.0

As we can see from above we have to add column names for simplification

In [5]:
#Assigning colum names

movies.columns = ["sr_no", "movie", "year",'rating','duration']
row = [1,'The Nightmare Before Christmas',1993,3.9,4568]
movies.loc[-1]= row

movies.sort_values(['sr_no'])

print(movies.head())
#print(movies.tail(5))

   sr_no                 movie  year  rating  duration
0      2             The Mummy  1932     3.5    4388.0
1      3  Orphans of the Storm  1921     3.2    9062.0
2      4  The Object of Beauty  1991     2.8    6150.0
3      5            Night Tide  1963     2.8    5126.0
4      6   One Magic Christmas  1985     3.8    5333.0

In [6]:
movies.describe()

              sr_no          year        rating      duration
count  49590.000000  49590.000000  10814.000000  45836.000000
mean   24795.500000   2002.303428      3.451248   2628.445436
std    14315.544261     12.534555      0.495601   1604.646265
min        1.000000   1913.000000      1.400000     52.000000
25%    12398.250000   1999.000000      3.100000   1356.000000
50%    24795.500000   2007.000000      3.500000   2563.000000
75%    37192.750000   2010.000000      3.800000   2877.000000
max    49590.000000   2014.000000      4.500000  28813.000000

Now we have clean datasheet.

# 1. The number of movies released between 1950 and 1960.

In [7]:
a = list()
for i in movies['year']:
    if (i<1960) and (i>1950):
        a.append(i)
    
print("Number of movies released between 1950 and 1960 = ",len(a))

Number of movies released between 1950 and 1960 =  414

# 2. The number of movies having rating more than 4.

In [8]:
a = len(movies[movies['rating']>=(4)])
print("There are total "+str(a)+" Number of movies with rating more than 4")

There are total 1477 Number of movies with rating more than 4

# 3.The movies whose rating are between 3 and 4.

In [9]:
a = list()
for i in movies['rating']:
    if (i>=3) and (i<=4):
        a.append(i)
        
print("Total number of movies having rating between 3 & 4 (including 3 & 4) = ", len(a))

Total number of movies having rating between 3 & 4 (including 3 & 4) =  8222

# 4. The number of movies with duration more than 2 hours(7200second).

In [10]:
a = len(movies[movies['duration']>=(2*60)])
print("There are total "+str(a)+" Number of movies with duration more than 2 hours")

There are total 45814 Number of movies with duration more than 2 hours

# 5.The list of years and number of movies released each year.

In [12]:
m2 = movies[['year','movie']]
print(m2)

        year                                              movie
 0      1932                                          The Mummy
 1      1921                               Orphans of the Storm
 2      1991                               The Object of Beauty
 3      1963                                         Night Tide
 4      1985                                One Magic Christmas
...      ...                                                ...
 49585  2013                Top Gear: Series 19: Africa Special
 49586  2010  Fireplace For Your Home: Crackling Fireplace w...
 49587  2010                                    Kate Plus Ei8ht
 49588  2010                          Kate Plus Ei8ht: Season 1
-1      1993                     The Nightmare Before Christmas

[49590 rows x 2 columns]

# 6.Total number of movies in dataset.

In [ ]:
print('Total Number of Movies = ',movies.shape[0])

# Thank You!